*{
  font-family: "RobotoDraft",Helvetica,Arial,sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
}
.my-dark-primary-color { background: #526E9C}
.left-drawer-color { background: #F9F9F9; }
core-scaffold::shadow div[drawer]  { background: #F9F9F9; }
div[drawer]  { background: #F9F9F9; }

core-scaffold::shadow core-toolbar{display: none;}


.card-wrapper {
  border: 2px solid #CCC;
  border-radius: 8px;
  background-color: #FFF;
  padding: 10px;
  margin: 4px 0px 4px;
}

core-animated-pages, core-animation{
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  /*box-sizing: border-box;*/
}
core-menu{
  margin: 0px;
}
paper-item{
  border-top: 1px solid #CCC;
  color: #555;
  font-weight: 500;
}
paper-item:last-of-type{
  border-bottom: 1px solid #CCC;
}
a.menu-item{
  text-decoration: blink;
  color: #555;
  padding-left: 8px;
}

#mainContent{
  margin: 2%;
  /*max-width: 1050px;*/
}
/*.color-fix{
 background-color: #eee; 
}
@media (min-width: 481px) {
  #tabs {
    width: 200px;
  }
  .container {
    width: 400px;
  }
*/

/*  core-drawer-panel:not([narrow]) #navicon{
  display: none; 
}*/


/*    polyfill-next-selector { content: '.card-header img'; }
.card-header ::content img {
  width: 70px;
  border-radius: 50%;
  margin: 10px;
}
*/
 